.Synonyms {
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 30px;
  font-size: 14px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 60px;
}